@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle:wght@400;900&family=Montserrat:wght@300;400&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #E6F1FF;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --font-headings: "BBH Sans Bogle", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-body);
}

@utility clip-path {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@utility banner-text-responsive {
  @apply text-[48px] sm:text-[118px] md:text-[126px] lg:text-[152px] leading-9 sm:leading-16 lg:leading-20;
}

@utility value-text-responsive {
  @apply text-lg md:text-[26px] lg:text-[32px];
}

@utility marquee-text-responsive {
  @apply text-[28px] sm:text-[36px] lg:text-[42px];
}

@utility contact-text-responsive {
  @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[100px];
}
